body {
    background-color: #ffffff;
}

.container {
    text-align: center;
    justify-content: center; 
    align-items: center;  
    margin-top: 10px;  
    
}

.logo {
    max-width: 350px;
}

.btn-login {
    font-size: 20px;
    width: 365px;
    height: 45px;
    text-align: center;
    
}
 h2{
  margin-bottom: 30px;
 }
 .btn-primary{
  background-color:#3886CE;
 }
 
 .blog-img{
    width: 120px;
    height: 100px;
 }

 
 
  .topnav {
    background-color: #c388ba;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #1b1e21;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .all-blogs{
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    align-content: center;

  }

.card{
    flex-direction: row;
    display: block;
    background-color: #dcd6db;
}


.topnav button{
  display: inline-block;
  background-color: white;
  color: blueviolet;
  
  border: #f2f2f2;
  text-align: center;
  border-radius: 20px;
  transition-duration: 0.4s;
  padding: 9px 22px;
  margin: 6px;

}

.topnav button:hover{
  background-color: #c388ba;
  color: white;
}


.createpost_form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: max-content;
  margin: 0 auto;
}

.form-control {
  height: 45px;
  margin-bottom: 20px;
  border-radius: 40px;
}



.btn-login {
  font-size: 14pt;
  width: 400px;
  height: 45px;
  text-align: center;
  
}
.btn-primary:hover{
  background-color: #0069d9
}
.btn-primary{
background-color:#3886CE;
border-radius: 20px;
width: 400px;
}

.btn-edit{
  background-color:#3886CE;
  color: #ddd;
}
.btn-delete{
  background-color:#3886CE;
  color: #ddd;
}
  
  .btn-edit:hover{
    background-color: #0069d9
  }
  #description {
    resize: vertical; /* Allows the user to resize the textarea vertically only */
}