{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Edit Blog Post</title>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="{% url 'add_article' %}">Post</a>
  </div>

  <div class="container mt-4">
    <h2>Edit Blog Post</h2>

    {% if messages %}
      <div class="alert alert-info" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}

    <form method="post" action="{% url 'edit_article' article.id %}">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" id="article_name" name="article_name" value="{{ article.article_name }}" required>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="description" name="description" rows="3" required>{{ article.description }}</textarea>
      </div>
      <div class="form-group">
        
        <img id="preview" style="height: 100px;width: 100px;margin-bottom: 10px;" src="{{ article.image.url }}">
        <input type="file" class="form-control" id="id_blogImg" name="id_blogImg" value="{{ article.image.url }}" placeholder="Enter image URL (optional)">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="tags" name="tags" value="{{ article.tags }}" placeholder="Enter tags (optional)">
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
  <script>
    // JavaScript to preview the selected image
    document.getElementById('id_blogImg').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const preview = document.getElementById('preview');

    if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
            console.log('File loaded:', file);
            console.log('File result:', e.target.result);
            preview.src = e.target.result; // Set the image source to the selected file
        }
        reader.readAsDataURL(file); // Read the file as a data URL
    } 
});
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
