{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Personal Blog</title>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/news">News</a>
    <a href="/contact">Contact</a>
    <a href="#">About</a>
    <a href="{% url 'add_article' %}">Post</a>
  </div>

  <div class="container mt-4">
    {% if messages %}
      <div class="alert alert-info" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    
    <img class="logo img-fluid" src="{% static 'images/blog.png' %}" alt="Blog">


    <div class="row">
        {% for title, description, image,url in mylist %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ image }}" class="card-img-top" alt="news image">
                    <div class="card-body">
                        <h5 class="card-title">{{ title }}</h5>
                        <p class="card-text">{{ description }}</p>
                        <a href={{ url }} style="width: 200px;" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
